<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lean.leansdk">

    <application
        android:fitsSystemWindows="true"
        android:exported="true"
        >
        <activity
            android:name=".FullScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.LeanSDK"
            android:exported="true"
            />
    </application>

</manifest>